.companyStatus {
  color: green;
}

.company-info__text {
  font-weight: 300;
  padding: 0 11px;
  margin: 0 -11px;
  font-style: normal;
}

.company-info__title {
  box-sizing: border-box;
  color: rgb(12, 14, 49);
}

.company-name {
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 2px;
  font-weight: 400;
  display: block;
  color: #0c0e31;
}

.company-requisites {
  box-sizing: border-box;
}

.company-row {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 2px;
  font-weight: 400;
  display: block;
  color: #0c0e31;
}
/*
.leftcol {
  width: 48%;
}

.rightcol {
  width: 52%;
}
*/
.chief-title {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  display: block;
  margin: 2px 0;
}

.company-row {
  margin: 16px 0 0;
}

div {
  display: block;
}

/*
.nav__links {
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 238);
  text-decoration: none;
}
*/
